/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Réinitialisation CSS par Eric Meyer : ce code supprime les marges,
les bordures et autres styles par défaut des éléments pour
avoir un rendu plus homogène entre navigateurs */
*{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Les balises HTML5 sont définies comme "block"
pour une meilleure compatibilité sur les anciens navigateurs */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* Suppression des puces par défaut pour les listes non ordonnées */
ol, ul {
	list-style: none;
}
/* Retire les guillemets automatiques pour les éléments blockquote et q */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Réinitialisation pour les tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** Fin de la réinitialisation CSS **/

/** Variables CSS **/

:root {
	--green-color: #1D6154; /* Couleur verte utilisée pour les éléments principaux */
	--orange-color: #B1663C; /* Couleur orange pour des accents */
	--disabled-button: #A7A7A7; /* Couleur pour boutons désactivés */
	--label-color: #3D3D3D; /* Couleur des étiquettes de formulaire */
	--dark-color: #000000; /* Couleur noire */
	--white-color: #FFFFFF; /* Couleur blanche */
	--shadow-color: #00000017; /* Couleur pour ombrage */
	--submit-color: #E8F1F6; /* Couleur de fond pour les boutons de soumission */
	--text-submit-color: #306685; /* Couleur pour le texte sur fond clair */
	--login-color: #3D3D3D; /* Couleur pour le texte de connexion */
	--border-color: #B3B3B3; /* Couleur des bordures */
	--submit-label-color: #CBD6DC; /* Couleur pour les étiquettes de soumission */
}

/** Styles communs réutilisés pour DRY **/

h1, #portfolio, .gallery figure, #contact form,
.login-container, .login-sections, .login-form, .login-buttons, #login-form,
#submit-form, .submit-file, .submit-details, .submit-item{
	display: flex;
	flex-direction: column;
}

/* Centrage principal de la page */
.main-container {
	max-width: 1140px;
	margin: 0 auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
/* Entête avec deux éléments espacés */
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
/* Style pour les sections de contenu */
section {
	margin: 50px 0
}
/* Styles pour le titre principal (h1) */
h1{
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--orange-color);
}
/* Style pour les sous-titres dans h1 */
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--green-color);
}
/* Styles pour le menu de navigation */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: var(--dark-color);
}

li:hover, a:hover {
	color: var(--orange-color);
}

/* Alignement des éléments dans la section d'introduction */
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	align-items: center;
	gap: 25px;
}

#portfolio h2 {
	text-align: center;
}

.filters-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.filter{
	color: var(--green-color);
	border: 1px solid var(--green-color);
	border-radius: 60px;
	background-color: transparent;
	padding: 9px 15px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
}

.filter:hover, .filter:focus{
	background-color: var(--green-color);
	color: var(--white-color);
}

.filter-hidden{
	visibility: hidden;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;
}

.gallery figure{
	gap: 7px;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--shadow-color);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px var(--shadow-color);
}

input[type="submit"], .add-button{
	font-family: 'Syne';
	font-weight: 700;
	color: var(--white-color);
	background-color: var(--green-color);
	width: 180px;
	text-align: center;
	border: none;
	border-radius: 60px ;
}

.contact-button{
	margin : 2em auto ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Login section */


.login-main{
	margin: 150px 0 0 0;
}

.login-form{
	gap: 30px;
}

.login-container{
	align-items: center;
	gap: 37px;
}

.login-sections{
	align-items: flex-start;
	gap: 7px;
}


.login-label{
	font-size: 16px;
	font-weight: 500;
}

.login-input{
	width: 380px;
	height: 50px;
	background-color: var(--white-color);
	border: none;
	box-shadow: 0px 4px 14px 0px var(--shadow-color);
	margin: 0;
}

.login-buttons{
	align-items: center;
	gap: 27px;
	margin: 7px 0 0 0;
}
.login-buttons > input{
	cursor: pointer;
}

#login-connect{
	border: none;
	padding: 10px 38px;
}

#login-remember{
	font-family: 'Work Sans';
	background: none;
	color: var(--login-color);
	border: none;
	text-decoration: underline;
	font-weight: 500;
}

.login-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 95%;
}

.form-error{
	text-align: center;
	padding: 10px 0;
	font-weight: 700;
}

/*Edit part*/


.edition{
	width: 100%;
	height: 60px;
	background-color: var(--dark-color);
	border: none;
	color: var(--white-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	gap: 12px;
	cursor: pointer;
}

.add-button{
	font-size: 14px;
	padding: 10px 50px;
	width: 240px;
	cursor: pointer;
}

.hidden{
	display: none;
}

dialog{
	flex-direction: column;
	align-items: center;
	border: none;
	border-radius: 10px;
	width: 630px;
	position: relative;
	padding: 60px 0px 45px 0px;
	gap: 46px;
}

dialog::backdrop{
	background: rgba(0, 0, 0, 0.3);
}

.close-button, .back-button{
	position: absolute;
	top: 26px;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
}

.close-button{
	right: 30px;
}

.back-button{
	left: 30px;
	transform: rotate(180deg);
}

.dialog-title{
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
}

.modal-pictures{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px 10px;
	max-width: 420px;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 60px;
}

.modal-work{
	position: relative;
}

.modal-work > img{
	width: 76px;
	height: 100px;
}

.trash-button {
	position: absolute;
	width: 17px;
	height: 17px;
	right: 6px;
	top: 6px;
	background-color: var(--dark-color);
	border: none;
	border-radius: 2px;
	display: grid;
	place-items: center;
	padding: 4px;
	cursor: pointer;
}

.trash-img{
	display: block;
	color: var(--white-color);
}

/*Second modal*/

#submit-form{
	gap: 30px;
	width: 420px;
}

.inferior-border{
	height: 1px;
	width: 100%;
	background-color: var(--border-color);
}

#fileInput{
	display: none;
}

.submit-label{
	background-color: var(--submit-label-color);
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	padding: 10px 33px;
	cursor: pointer;
	border: none;
	border-radius: 50px;
}

.submit-file{
	font-family: "Work Sans";
	align-items: center;
	justify-content: center;
	gap: 6px;
	color: var(--text-submit-color);
	background-color: var(--submit-color);
	width: 100%;
	height: 170px;
}

.submit-file > p{
	font-size: 10px;
}

.submit-details{
	gap: 20px;
	margin-bottom: 17px;
}

.submit-item{
	gap: 10px;
	align-items: flex-start;
}

.submit-item > label{
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
	color: var(--label-color);
}

.select-categorie, .submit-item > input{
	box-shadow: 0px 4px 14px 0px var(--shadow-color);
	width: 100%;
	height: 50px;
	border: none;
	padding: 10px 20px;
	color: #444444;
	font-size: 14px;
	font-family: "Work Sans";
	-webkit-appearance: none;
	appearance: none;
}

.select-categorie{
	position: relative;
}

.submit-button{
	margin: auto;
}

.submit-img{
	height: 100%;
}

.add-button:disabled{
	background-color: var(--disabled-button);
}

.gallery-modify-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'Work Sans';
	font-size: 14px;
	position: absolute;
	left: 220px;
	top: 7px;
}

.portfolio-title{
	position: relative;
}

ChatGPT a dit :
ChatGPT
css
Copier le code
